<h3>Summary</h3>
<div>
    <strong>Title</strong>: {{ summary['sum_title'] }}
</div>
<div>
    <strong>Content</strong>: {{ summary['sum_content']|replace("$", "&#36;")|tripleticks|replace_tabs_and_spaces|replace('\n', '<br >')|bold_asterisks|safe }}
</div>
<hr />
Conversation Messages:
{% for msg in messages %}
    <div class="message">
        <strong>{{ msg.msg_role }}:</strong> {{ msg.msg_content|replace("$", "&#36;")|tripleticks|singleticks|replace_tabs_and_spaces|replace('\n', '<br >')|bold_asterisks|safe }}
    </div>
{% endfor %}